*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}

element.style {
    position: relative;
    min-height: 100%;
    top: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #404040;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: block;
}

.banner__top {
    width: 100%;
    z-index: 1000;
}

div {
    display: block;
}

.pompeya-centrar {
    align-items: center;
}

.ed-container {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* */
.m-70 {
    width: 70%;
}

.ed-item {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.top__logo {
    margin: 1em 0;
}

.top__logo__a {
    display: flex;
    color: #000;
    align-items: center;
}

a {
    text-decoration: none;
}

.top__logo__a__img {
    width: 80px;
    padding: 0 30px 0 45px;
    /* height: auto; */
    margin-right: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

.top__logo__a__texto__nombre {
    margin: 0;
    font-size: 1.6em;
    font-weight: 800;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.top__logo__a__texto__eslogan {
    margin: 0;
    text-transform: uppercase;
}

/* */
.m-30 {
    width: 30%;
}

.top__contactenos {
    justify-content: flex-end;
    display: flex;
}

.top__contactenos a {
    font-weight: 400;
    padding: 0.5em 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8em;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
}

.top-nav {
    background: #000;
}

nav {
    display: block;
}

.ed-container {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ed-item {
    width: 100%;
}

.ed-item {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* BARRA MENU */

.container__menu{
    height: 50px;
    background-color: #023877;
    padding: 0px 20px;
}

.menu{
    max-width: 1000px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;
    padding: 0 20px 0 0;
}

nav > ul > li > a{
    display: inline-block;
    padding: 14px 14px;
    letter-spacing: 3,5px;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.Inscripciones a{
    color: #FF0000; 
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background-color: #0074C7;
}

#selected{
    transform: scale(1.1);
    background-color: #0074C7;
    box-shadow: 0 0  10px 0 rgba(0, 0, 0, 0.5);
}

/* SUBMENU */

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 14px 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0  0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 55px;
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #0099E9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background-color: #0074C7;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0  0 10px 0 rgba(0, 0, 0, 0.5);
}

/* SECTION */

.container__section{
    display: flex;
    padding: 0 0px 0 230px;
    transition: all 300ms ease;
}

.one-third:hover{
    transform: scale(1.1);
    box-shadow: 0  0 0 0 rgba(0, 0, 0, 0.5);
}

.container__section p{
    color: rgba(0, 0, 0, 0.5);
}

.one-third{
    width: 230px;
    padding: 30px;
}

.icon-wrap{
    padding: 0 0 30px 0;
}

/*FOOTER-PIE DE PAGINA*/

.footer {
    background-color: #011328;
    color: #ffffffa8;
    padding-top: 50px;
} 

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
} 

.footer-column {
    flex-basis: 20%;
    padding-bottom: 1px;
}

.footer-column h4 {
    margin-bottom: 30px;
} 

.footer-column img {
    width: 60px;
    height: 90px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
} 

footer div ul li {
    padding: 7px 0;
} 

ul li a {
    color: #ffffff88;
    text-decoration: none;
} 

.footer-text {
    background-color: #000;
    padding: 10px 0 ;
    text-align: center;
    color: #aaa4ad;
    font-size: 100%;
}

.footer-text{
    border-bottom-width: 0px;
    margin-bottom: 0px;
}

.footer-social-icons {
    display: flex;
    gap: 10px;
    font-size: 27px;
}

.footer-social-icons a {
    color: #fff;
    padding-right: 30px;
}

/* SECTION */

.container__valores{
  display: flex;
  width: 100%;
  margin-left: 65px;
  transition: all 300ms ease;
}

.container__valores{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.container__valores p{
  color: #ffffffb6;
}

.section_mision{
  background-color: #00142b;
  width: 350px;
  margin: 20px;
  align-items: center;
}

.section_mision:hover{
  transform: scale(1);
  box-shadow: 0  0 0 0 rgba(0, 0, 0, 0.5);
}

.container__section p{
  color: rgba(0, 0, 0, 0.5);
}

.icon_mision{
  background-color: #fff;
  text-align: center;
  margin-top: 30px;
}

/*FIN DE LA NAVEGACION*/
/**/
/**/
/**/
/**/
/**/
/*SLIDER*/
.slider {
    position: relative;
    width: 100%;
    height: 322px;
    overflow: hidden;
}
.slider ul{
    position: relative;
} 
.slider1 {
    position:absolute;
    width: 10%;
    height: 322;
    object-fit: cover;
    transition: opacity 0.5s infinite;
    border-radius: 100px;
}
.slide:first-child {
    opacity: 1;
}
.slider1 img {
    margin-top: 0.5px;
    margin-left: 0.2%;
}
/*FIN DEL SLIDER*/
/**/
/**/
/**/
/**/
/**/

