h1 {
  text-align: center;
  color:#524c56;
}

h2{
  padding: 20px 20px 0px 0px;
  color: #335699;
  margin: 0 30px;
}

h3 {
  text-align: center;
  padding: 20px 0px 0px 0px;
  color: #335699;
}

.container_tecnico {
  margin: 0 180px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container_video {
  margin-left: 185px;
  width: 562px;
  box-shadow: 8px 8px 8px 0px #0018292e;
}

.video:hover {
  transform: scale(1.05);
  box-shadow: 0  0 0 0 rgba(0, 0, 0, 0.5);
}

.container_texto p {
  color: #335699;
  font-size: 18px;
  line-height: 165%;
  padding: 0px 40px 0 40px;
  text-indent: 0%;
  text-align: justify;
}

/* VIDEO TUTORIALES */

.video{
  margin: 0 340px;
  padding: 10px;
}

hr{
  padding: 0 40px;
  width: 1000px;
  margin-left: 90px;
  border: 3px solid;
  border-radius: 10px;
  color: #00142b;
}

/* COMISIONES TECNICAS */

.container_comisiones_img{
  width: 800px;
  margin: 5px 230px;
  
}

table{
  margin: 2px 350px;
}

table tr td{
  background-color: #335699;
  border: 2px solid #335699;
  border-radius: 50px;
  font-size: 22px;
  width: 800px;
  padding: 20px;
}

table tr td:hover{
  transform: scale(1.05);
  background-color: #00142b;
  font-size: 22px;
  border: 2px solid;  
  background-color: #00142b;
}

a{
  color: whitesmoke;
  text-decoration: none;
  list-style: none;
}

.video_inicial{
  margin: 0 355px;
  padding: 10px;
}