/*MENSAJE DE LA AUTORIDAD*/
h1 {
  text-align: center;
  color:#524c56;
}
h3 {
  text-align: center;
  padding: 50px 20px 0px 0px;
  color: #335699
}

.blog-reseña1{
  padding: 20px 100px 0px 40px;
  color: #233c6b
}

.Mensaje-Autoridad p, .blog-content p {
  color: #335699;
  font-size: 115%;
  line-height: 165%;
  padding: 5px 40px 0 40px;
  text-indent: 0%;
  text-align: justify;
}
/*la imagen*/
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajusta la altura según tus necesidades */
}
.image-container img {
  max-width: 90%;
  max-height: 10%;
  box-shadow: 8px 8px 8px 0px #0018292e;
}
/*la imagen*/
/*Para poder centrar el texto*/
.blog-content {
  max-width: 1000px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  text-align: justify;
}

.Mensaje-Autoridad p {
  margin: 10px 0; /* Ajusta el margen superior e inferior según tus necesidades */
   /* Cambia el color del texto a un tono azul */
}

.signature {
  text-align: left;
  font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
}
.signature p {
  margin: 0;
}
/*Para poder centrar el texto*/
/*FIN DEL MENSAJE DE LA AUTORIDAD*/

/* VALORES */

/* SECTION */

.container_valores{
  display: flex;
  margin-left: 65px;
  transition: all 300ms ease;
}

.container_valores h3{
  font-size: 30px;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.container_valores p{
  color: #ffffffb6;
}

.container_section{
  background-color: #00142b;
  width: 350px;
  margin: 20px;
  align-items: center;
}

.container_section:hover{
  transform: scale(1.1);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.icon_img{
  background-color: #fff;
  padding: 8px 0;
  text-align: center;
  margin-top: 30px;
}
.valores_img{
  width: 800px;
  margin-left: 255px;
}

.valores_img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

/* SIMBOLOS */

hr{
  padding: 0 40px;
  width: 1000px;
  margin-left: 90px;
  border: 3px solid;
  border-radius: 10px;
  color: #00142b;
}

.container_sellos{
  display: flex;
  width: 1200px;
  text-align: center;
  align-items: center;
  padding: 20px;
  transition: all 300ms ease;
}

.logo_pompeya{
  width: 150px;
  margin-left: 265px;
  padding: 20px;
}

.logo_pompeya img{
  margin-bottom: 25px;
}

.logo_marianitas{
  width: 1000px;
  padding: 20px;
}

.logo_marianitas img {
  margin-bottom: 50px;
}

.himno_pompeya{
  width: 450px;
  margin-left: 400px;
}

.btn_dowloand{
  border: 2px solid #335699;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #335699;
  color: #fff;
  transition: all 300ms ease;
}

.btn_dowloand:hover{
  border: 2px solid #00142b;
  background-color: #00142b;
}

.himno_pompeya > .btn_dowloand{
  margin-left: 180px;
}