.container{
	display: inline-block !important; 
	background-color: red !important;
}

.galery{
	padding: 0.5em;
	margin: 1em;
    border-radius: 10%;
    border: solid 0.5em;
}

.title {
	font-size: 55px;
	text-transform: uppercase;
	letter-spacing: 7px;
}

/*
.galery{
	display: inline-block;
	border: solid 0.2em black;
}

.galery img{
	border-radius: 10%;
	width: 35%;
}
*/