<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./estilos/sello.css">
    <title>📚 | UEpompeya</title>
</head>
<body>
    <a href="https://uenspompeya.online/index.php/es/simbolos" class="btn-sello"></a>
    <!--CABEZERA-->
		<header class="cabecera">
			<div class="container-A1">
				<!--Logo de la institucion-->
				<img src="./imagenes/sellopompeya.png" alt="sello institucional"> 
				<nav class="menu-uno">
					<ul><li class="titulo"><a href="#">Unidad Educativa Nuestra Señora de Pompeya</a></li></ul>
				</nav>
				<nav class="menu-dos">
					<ul>
						<li><a href="#mQuienesSomos">¿Quiénes Somos?</a></li>
						<li><a href="#mAcademico">Académico</a></li>		
						<li><a href="#mGaleria">Galeria</a></li>	
						<li><a href="#mContactenos">Contactenos</a></li>
					</ul>
				</nav>
			</div>
		</header>
</body>
</html>