.articulo-content{
    border: solid black;
    margin: 1em;
    padding: 0.5em;
}

.pie-articulo{
    display: flex;
}

.pie-articulo p, img {
    margin-right: 1em;
}

/* Search */
.search{
    display: flex;
    align-items: center;
}
.search form{
    margin: 1em;
}
.search input{
    margin: 0.5em;
}

/* Articulos */
.articulos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.articulo-content img{
    width: 50%;
}

/* Galeria */
.galeria-imagen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.galeria-imagen img{
    width: 100%;
    border: solid black 0.5em;
}