h1 {
  text-align: center;
  color:#524c56;
}
h2 {
  text-align: center;
  color:#524c56;
}
h3 {
  text-align: center;
  color:#335699;
}
.blog-content p {
  color: #335699;
  font-size: 115%;
  line-height: 165%;
  padding: 5px 40px 0 40px;
  text-indent: 0%;
  text-align: justify;
}

/* PPFF */

.container_img{
  width: 800px;
  margin: 0 270px;
}

.container_gob{
  width: 700px;
  margin: 0 320px;
}

.box {
  width: 300px;
  background-color: #fff;
  border: 5px solid #335699; /* Modificado: Grosor del borde */
  margin: 0 0px 40px 55px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border-radius: 10%;
}

.box img {
  width: 350px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.box img:hover {
  transform: scale(1.05);
}

.box h3 {
  margin: 0;
}

.box p {
  padding-top: 10px;
}


/**/

.image-container{
  width: 800px;
  margin-left: 250px;
}

.gallery {
  margin-left: 20px;
  padding: 20px;
  text-align: center;
}

.image-grid{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.img_hover:hover{
  transform: scale(1.03);
  border-radius: 20px;
}

hr{
  padding: 0 40px;
  width: 1115px;
  margin-left: 40px;
  border: 3px solid;
  border-radius: 10px;
  color: #00142b;
}
.container_galery {
  padding: 3%;
}

/*.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.image-grid img {
  width: 100%;
  height: auto;
  max-width: 500px; /* Cambiar el tamaño máximo de la imagen 
}
*/


